*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Noto Sans JP', sans-serif;
}

body{
    background: linear-gradient(#0C0C0C,#5C5F4E);
    background-size: cover;
    background-attachment: fixed;
    
}

.main-container{
    display: grid;
    grid-template-rows: 0.25fr 1fr 1fr;
}

#search-container{
    display: flex;
    width: 50vw;
    height: 0.2fr;
    padding: 0;
    background: linear-gradient(to  left,#60605000,#606050);
    margin-top: 2rem;
    gap: 2rem;
    align-items: flex-end;
}


#input-container{
    
    height: 3.4rem;
    color: grey;
    font-size: large;
    
    
    margin-top: 2rem;
    
}

#input-text{
    height: 4rem;
    
    
    opacity: 0.2
}

#input-button{
    
}

header img{
   margin-left: 1rem;

}

.main{
    height: 1fr;
    display: flex;
    flex-direction: row ;
    justify-content: center; /*alinear de manera horizontal*/
}

.description-container{
    display: flex;
    flex-direction: column;
    width: 1fr 1fr;
    height: 50vh;
    margin-left: 1rem;
}

#description h1{
    color: #B68F2F;
    margin-top: 3rem;
    margin-bottom: 3rem;

    border: 1px solid goldenrod;
    border-style: none none solid none;
}

#description p{
    color: #fddf32b8;
    line-height: 40px;
}

.img-container img{
    margin-left: 4rem;

   border: 5px  solid #6758009b;
   border-style: outset;
   border-radius: 5px;
   margin-right: 1rem;
}



footer{
    width: 100%;
    height: auto;
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly center;
    align-items: center;
    gap: 8px;
    
}

.info-box {
    width: 350px;
    height: 1fr;
    display: flex;
    flex-direction: column;

    text-align: center;
    margin-top: 2rem;
    border: 2px  solid #6758009b;
    border-style:groove;
    border-radius: 5px;
    margin: 1rem;
    
}

.info-box h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.basic-template, .attpower-template, .dnegation-template{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.basic-template div, .attpower-template div, .dnegation-template div{
    width: 1fr;
    height: 2rem;
}